body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  flex-shrink: 0;
  margin-top: 100px;
}

span.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete{
  position: absolute;
  max-width: 300px;
  padding: 5px;
  max-height: 250px;
  overflow: auto;
  background-color: white;
}

li.ui-menu-item {
color: black;
border-bottom:  grey 1px solid;;
}

.card {
  height: 300px;
  width: 375px;
  margin: 10px;
  color: black;
  overflow: scroll;
  padding: 10px;
  position: relative;
}

#card-section {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 0 0 33.333333% 
}

.container {
  margin: 0 auto;
}

h4 {
  text-align: center;
}

.cardmap {
  height: 100%;
}




