body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  flex-shrink: 0;
  margin-top: 100px;
}

span.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete{
  position: absolute;
  max-width: 300px;
  padding: 5px;
  max-height: 250px;
  overflow: auto;
  background-color: white;
}

li.ui-menu-item {
color: black;
border-bottom:  grey 1px solid;;
}







